<div class="bt-container">
  <div class="bt-container-inner">
    <div class="category-page">
      <div class="row clearfix">
        <div class="column column--sm-8">
          <ol class="breadcrumbs category-bc">
            <li>
              <a href="{{portal.home_url}}">{% translate header.tabs.home %}</a>
            </li>
            <li title="{% translate portal.solutions_home %}">
              <a href="{{ portal.solutions_home_url }}">{% translate portal.solutions_home %}</a>
            </li>
          </ol>
        </div>
        <div class="column column--sm-4 colum-sb">
          <div class="search-box search-box--small">
            {% snippet search_form %}
          </div>    
        </div>
      </div>

      <div class="header">
        <h1 class="h2 s-c-title">{{ category.name | h }}</h1>
        {% if category.description %}
        <p class="page-description">{{ category.description }}</p>
        {% endif %}
      </div>
      <div class="row folder-tree clearfix">
        {% for folder in category.folders %}
          <section class="column column--sm-6 column--md-4 folder">
            <h3 class="folder__title">
              <a class="folder__title-link" href="{{ folder.url}} ">{{ folder.name }}</a>
            </h3>

            {% if folder.articles_count > 0 %}
              <ul class="articles">
                {% for article in folder.articles limit:5 %}
                  <li class="articles__item">
                    <a class="articles__link" href="{{ article.url }}">{{ article.title | h }}</a>
                  </li>
                {% endfor %}
              </ul>
              {% if folder.articles.size > 5 %}
                <a href="{{ folder.url }}" class="btn btn-primary see-all-articles">
                  View all ({{folder.articles_count}})
                </a>
              {% endif %}
            {% endif %}
          </section>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<style>
  /* Add Jin 솔루션 카테고리 홈 상단 리스트 크기 조정 */
  .category-bc > li {font-size: 18px;}
  @media (max-width: 635px) {
    .category-bc > li {font-size: 16px;}
  }
  .s-c-title {text-align: left; font-size: 20px;}
  @media (max-width: 1024px) {
    .s-c-title {padding-left: 15px;}
  }
</style>